// light
@background: #fff;
@navBackground: #fff;
@navBorder: #e3e3e3;
@tabIconActive: #000;
@tabIconDefault: #8a8a8a;
@text: #000;
@icon: #000;
@seperator: #bdc3c7;
@lightDayItem: #e5edf9;
@lightCurrentDay: #171b43;
@lightMonthItem: #e5edf9;
@lightCurrentMonth: #171b43;

// dark
@background: #2c2c54;
@navBackground: #131324;
@navBorder: #e3e3e3;
@tabIconActive: #fff;
@tabIconDefault: #8a8a8a;
@text: #fff;
@icon: #fff;
@seperator: #4c4c75;
@darkDayItem: #171b43;
@darkCurrentDay: #131324;
@darkMonthItem: #171b43;
@darkCurrentMonth: #131324;